<form action="/api/register" id="registerForm" method="post">

    <div>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required>
    </div>

    <div>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required>
    </div>

    <br>

    <div>
        <label for="password">Šifra:</label><br>
        <input type="password" id="password" name="password" required>
    </div>

    <br>

    <div>
        <label for="password_confirm">Potvrđena šifra:</label><br>
        <input type="password" id="password_confirm" name="password_confirm" required>
    </div>

    <br>

    <div>
        <input type="checkbox" id="rules" name="rules" required>
        <label for="rules">I agree with site rules</label>
    </div>

    <br>

    <button type="submit">Submit</button>
</form>

<script>
    const registerForm = document.getElementById("registerForm");

    registerForm.addEventListener("submit", async (e) => {
        e.preventDefault();

        const name = registerForm.name.value;
        const email = registerForm.email.value;
        const password = registerForm.password.value;
        const password_confirm = registerForm.password_confirm.value;
        const rules = registerForm.rules.checked;

        const res = await fetch("/api/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                name,
                email,
                password,
                password_confirm,
                rules
            }),
            credentials: "include"
        });

        if (!res.ok) {
            throw new Error("Registration failed");
        }

        const data = await res.json();

        if (data.success) {
            window.location.reload();
        }
    });
</script>

1. Dodajte dizajn (AI)
2. /cart -> treba je popraviti tako da proizvode vadi pomocu Frontenda
3. Finisiraj porudzbinu
    -> orders (user_id)
    -> order_items (order, product_id)